/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/


#game-holder {
  margin-top: 20px;
  overflow: hidden;
}

.game-team-holder {
  border-right: 1px solid #BCD3DB;
  float: left;
}
.game-team-holder.winner {
  background: #D0E8D7;
}
